* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
.calculator {
  background: url("wp12978966-loki-2-tv-show-wallpapers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.container {
  /* background-color: rgba(0, 0, 0, 0.75); */
  border-radius: 4px;
  width: 450px;
  height: 650px;
  margin-top: -30px;
  margin-left: -65px;
  z-index: 2;
}
